*, *::before, *::after { box-sizing: border-box; }

body {
	background: #555;
	margin: 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
a {
	color: #2985d1;
	text-decoration: none;
}
h1, h2 {
	font-family: 'Alfa Slab One', 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 1.2;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 28px;
	background: #2fb3fe;
	color: #fff;
	padding: 15px;
	margin-top: 0;
}
h2 + p {
	font-weight: 700;
	font-style: italic;
	opacity: .4;
}
section p {
	margin: 15px;
}
header, section {
	border: 4px solid #2fb3fe;
	margin: 30px auto;
	background: #fff;
	padding: 20px;
	max-width: 800px;
}
header {
	background: url(../img/masthead-darkened.jpg) center / cover;
	color: #fff;
	text-align: center;
	padding: 2% 5%;
}
header img {
	width: 130px;
}
footer {
	color: #ccc;
	text-align: center;
	font-weight: 300;
}