*, *::before, *::after { box-sizing: border-box; }
img { max-width: 100%; border: 0; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; } /* Remove gaps between elements */
nav ul, nav ol { list-style-type: none; padding: 0; margin: 0; } /* Remove bullets from lists in nav */
textarea { resize: vertical; }
.clearfix:after { content: ""; display: table; clear: both; }


/* ==========================================================================
   PROJECT STYLES
   ========================================================================== */

body {
	font-family: 'Monda', sans-serif;
	line-height: 1.5;
}
main {
	max-width: 50em;
	padding: 20px;
	margin: auto;
}
h1 {
	font-family: 'Bree Serif', serif;
	font-size: 5rem;
	line-height: .9;
	color: #fff;
	background: #483a40 url(../img/cab.jpg) center;
	background-size: cover;
	text-align: center;
	margin: 0;
	padding: 15%;
}
h2 {
	font-family: 'Bree Serif', serif;
	color: #b5413b;
	font-size: 1.5625rem;
	line-height: 1.4;
	text-transform: uppercase;
}
p {
	line-height: 1.9;
}
a {
	color: #b5413b;
}
a:hover {
	color: #fc3a53;
}
.nyc-logo {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 20px;
}
.pull-quote {
	font-family: 'Bree Serif', serif;
	border-left: 3px solid #bedd6e;
	padding-left: 1em;
	color: #b5413b;
	font-size: 22px;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}
nav {
	background-color: rgba(72,58,64, .92);
}
nav li a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
}
nav li a:hover {
	background-color: rgba(0,0,0, .5);
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


